{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href={% static 'assets/bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href={% static 'assets/css/style.css' %}>
</head>

<body style="background: #f4eff5;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav" style="background: #f4eff5;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><img src={% static 'assets/img/illustrations/GlobalHub.svg' %} width="173" height="34"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="news">Новости</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Мероприятия
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="events">Актуальные</a></li>
                          <li><a class="dropdown-item" href="create_m">Предложить</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="eventer">Eventer</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Форум
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="clubs">Клубы</a></li>
                          <li><a class="dropdown-item" href="create_c">Создать клуб</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="chat">AI-поддержка</a></li>
                    <li class="nav-item"><a class="nav-link" href="unicoin">UniToken</a></li>
                </ul><a class="btn" role="button" href="profile">Профиль</a>
            </div>
        </div>
    </nav>
    <section class="container news">
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Анонс</strong>
                <h3 class="mb-0">CampusHub: Внедрение искусственного интеллекта - новый виток развития нашего сервиса</h3>
                <div class="mb-1 text-muted">31 Мая</div>
                <p class="card-text mb-auto">CampusHub: Внедрение искусственного интеллекта - новый виток развития нашего сервиса</p>
                <a href="#" class="stretched-link btn mt-4">Продолжить чтение</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #43484b;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #dddad6;">Эскиз</text></svg>
              </div>
            </div>
          </div>
                <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Образование</strong>
                <h3 class="mb-0">Статья ученых ТУСУРа опубликована в журнале IEEE-MTT из высшего квартиля Q1</h3>
                <div class="mb-1 text-muted">30 Мая</div>
                <p class="mb-auto">В международном научно-техническом журнале Института инженеров электротехники и электроники – Теория и техника СВЧ (IEEE Transaction on Microwave Theory and Technique)  от 7 мая 2023 опубликована статья, авторами которой являются сотрудники кафедры Компьютерных систем в управлении и проектировании ТУСУРа.</p>
                <a href="#" class="stretched-link btn mt-4">Продолжить чтение</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #43484b;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #dddad6;">Эскиз</text></svg>
      
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Мероприятия</strong>
                <h3 class="mb-0">Четыре команды ТУСУРа состязались в решении кейсов на IoT-хакатоне</h3>
                <div class="mb-1 text-muted">30 Мая</div>
                <p class="card-text mb-auto">В рамках марафона «вПИШись в науку!» 27 и 28 мая в СБИ «Дружба» прошёл хакатон по разработке программных решений и продуктов для систем интернета вещей. Участниками стали ребята с 2-й по 4-й курс бакалавриата с факультета систем управления, радиотехнического факультета, факультета электронной техники, а также с факультета безопасности.</p>
                <a href="#" class="stretched-link btn mt-4">Продолжить чтение</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #43484b;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #dddad6;">Эскиз</text></svg>
      
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Образование</strong>
                <h3 class="mb-0">Томский политех начнет готовить физиков для работы на мегасайенс установках</h3>
                <div class="mb-1 text-muted">23 Мая</div>
                <p class="mb-auto">Исследовательская школа физики высокоэнергетических процессов совместно с Инженерной школой ядерных технологий запускают новый образовательный трек «Физика высоких энергий». Выпускники магистратуры будут задействованы в исследованиях на установках класса мегасайенс. Занятия стартуют уже этой осенью.</p>
                <a href="#" class="stretched-link btn mt-4">Продолжить чтение</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #43484b;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #dddad6;">Эскиз</text></svg>
      
              </div>
            </div>
          </div>
        </div>
      
    </section>
    <section class="form">
    <!--   <form class="container" action="">
          <h5 >Предложить новость</h5>
          <div class="row g-3">
            <div class="col-md-4">
              <select id="inputState" class="form-select">
                <option selected>Категория...</option>
                <option>Анонсы</option>
                <option>Мероприяте</option>
                <option>Образование</option>
              </select>
            </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Дата" aria-label="Фамилия">
              </div>
            </div>
          <div class="mb-3 mt-3">
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Заголовок">
          </div>
          <div class="mb-3">
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Текст">
          </div>
          <a class="btn" href="">Отправить</a>
      </form>
  </section>
    <footer>
        <div class="container py-4 py-lg-5">
            <!-- <div class="row row-cols-2 row-cols-md-4">
                <div class="col-12 col-md-3">
                    <div class="fw-bold d-flex align-items-center mb-2"><span>Brand</span></div>
                    <p class="text-muted">Sem eleifend donec molestie, integer quisque orci aliquam.</p>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Services</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">About</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Careers</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
            </div> -->
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2023 GlobalHub</p>

            </div>
        </div>
    </footer>
    <script src={% static 'assets/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'assets/js/script.min.js' %}></script>
    <script src={% static 'assets/js/script.js' %}></script>
</body>

</html>